section {
	background-color: lightblue;
	width: 1200px;
	left: 40px;
	position: relative;
}
article {
	background-color: lightgreen;
	width: 900px;
	border: 3px solid grey;
	margin-bottom: 10px;
}
h2 {
	text-align: center;
	background-color: lightyellow;
}
h1 {
	text-align: center;
	background-color: lightpink;
	position: sticky;
	
}
p {
	padding: 10px;
	text-align: justify;
	background-color: rgb(230,230,150);
	position: sticky;
	top: 0px;
}
header {
	position: sticky;
	width: 400px;
	top: 0px;
}
.article0 {
	width: 500px;
	position: relative;
	left: 150px;
}
.article1 {
	width: 600px;
	position: static;
	position: absolute;
	right: 0px;
}
.article2 {
	width: 400px;
	position: fixed;
	left: 0px;
	bottom: 0px;
}
.article3 {
	width: 300px;
	position: fixed;
	right: 0px;
	bottom: 0px;
}
.article4 {
	width: 700px;
	position: relative;
	left: 250px;
}
.article5 {
	width: 200px;
	position: relative;
	left: 300px;
	top: 30px;
}